*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 80px;
    position: fixed;
    width: 100%;
    background: #020e1f;
    z-index: 1000;
}

/* LOGO */
.logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #002E6A;
}

/* NAV LINKS */
.nav-links{
    display: flex;
    gap: 80px;
    align-items: center;
}

/* BUTTON */
.talk{
    padding: 10px 20px;
    background: #598fec;
    color: #002E6A;
    border-radius: 10px;
    transition: 0.3s;
}

.talk:hover{
    background: #86acec;
}

/* HAMBURGER */
.hamburger{
    display: none;
    cursor: pointer;
    z-index: 1100;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

/* ANIMATION */
.bar1{
    transform: rotate(45deg) translate(5px, 5px);
}

.bar2{
    opacity: 0;
}

.bar3{
    transform: rotate(-45deg) translate(7px, -6px);
}

/* ================= */
/* 📱 RESPONSIVE */
/* ================= */

@media (max-width: 992px){
    .nav-links{
        gap: 40px;
    }
}

@media (max-width: 768px){

    .hamburger{
        display: block;
    }

    .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: #020e1f;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        transition: 0.4s ease;
    }

    .nav-links.active{
        right: 0;
    }

    /* LET'S TALK yashirinadi */
    .desktop-talk{
        display: none;
    }
}

@media (max-width: 480px){
    .nav-links{
        width: 100%;
    }

    .logo{
        font-size: 18px;
    }
}